# Dependencies
node_modules/
/.pnpm
/.yarn

# Build outputs
.next/
out/
dist/
build/
bin/
obj/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.production.local

# random crap
.DS_Store
Thumbs.db
.vscode/
.idea/
